h1 {
    text-align: center;
    font-size: 40px;
}

.originalCurrency {
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.convertedCurrency {
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#fromCurrency {
    margin: 10px;
}

#toCurrency {
    margin: 10px;
}

#cCurrency {
    border: black;
    background-size: 10px;
}